<div class="page">
<body>
  <div style="text-align: center;">
    <div class="content">
      <img  class="iajuda" src=".\..\assets\images\Ajuda.png" >
      <h3 class="h1">Atendimento Be9 Bank</h3>
      </div>
  </div>
  <div style="text-align: center;">
    <div class="content2">
      <div>
        <h2 id="h21">SAC - Informações, Cancelamentos<br> e Reclamações</h2>
        <h2 id="h21M">SAC - Informações, Cancelamentos e Reclamações</h2>
        <br>
        <p id="p1">Todas as regiões <br> 0800 744 0744 <br>Todos os dias, 24h.</p>
        <p id="p1M">Todas as regiões 0800 744 0744 Todos os dias, 24h.</p>
      </div>
      <div>
        <hr id="hr1">
      </div>
      <div >
        <h2 id="h22">Ouvidoria Be9 Bank</h2>
        <br>
        <p id="p2">0800 755 0755<br> Horários de atendimento <br> Dias úteis das 9h às 18h.</p>
        <p id="p2M">0800 755 0755 Horários de atendimento Dias úteis das 9h às 18h.</p>
      </div>
    </div>
  </div>
  </body>
</div>
  
<footer class="footer">
  <div style="text-align: center;">
    <div class="divFooter">
      <div class="footerGrid">
        <div>
          <img  id="logof" src=".\..\assets\images\logof.png" >
        </div>
        <div>
          <p class="tfooter">Baixe o nosso App</p>
          <img  class="btnf" src=".\..\assets\images\gplay.svg" >
          <img  class="btnf" src=".\..\assets\images\astore.svg" >
        </div>
      </div>
      <div class="footerGrid3">
        <div>
          <p class="tfooter">Atendimento</p>
          <p class="pfooter">Central de Relacionamento<br>0800 275 6398</p>
          <p class="pfooter">SAC<br>0800 722 6398 </p>
          <p class="pfooter">Ouvidoria<br>0800 688 6398</p>
          <p class="pfooter">contatobe9@be9.com</p>
        </div>
        <div>
          <p class="tfooter">Informações</p>
          <a [routerLink]="['/politica']" routerLinkActive="active"><p class="pfooter">Política de Privacidade</p></a>
          <a [routerLink]="['/termosWeb']" routerLinkActive="active"><p class="pfooter">Termos de Uso Web</p></a>
          <a [routerLink]="['/termosApp']" routerLinkActive="active"><p class="pfooter">Termos de Uso Mobile</p></a>
        </div>
      </div>
    </div>

    
      <hr id="hr">
      <div class="footerGrid2">
        <div>
          <p class="p2footer">Be9 Bank © 2022<br>Avenida das Nações Unidas, 12399 cj 96A <br>Brooklin Novo - SÃO PAULO - SP - Brasil<br>04578-000</p>
        </div>
      </div>
  </div>
</footer>