a{
  text-decoration: none;
}


@media (min-width:1366px) {
  .content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    max-width: 1326px;
    text-align: right;

  
  }
  .h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin-bottom: 40px;
    color: #161616;
    width: 655px;
    font-size: 50px;
    margin-top: 50px;
    text-align: left;
    margin-left: 18px;
  

  }
  .p{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 40px;
    color: #909296;
    width:600px;
    text-align: left;
    margin-left: 20px;

  }
  
 
  .Btne1 {
    text-decoration: none;
    color: #ffffff;
    background-color: #612783;
    padding: 1rem 2rem;
    border-radius: 10px;
    width: 609px;
    margin-top: 0px;
    padding: 16px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    margin-left: 22px;
  }
  
  .Btne1:focus {
    background-color:#481764;
  }  
  .Btne1:hover{
    background-color:#481764;
  }  
  #iemp1{
    height: 450px;
    margin-top: 10px;;
    margin-right: 25px;
  }

  .master{
    background-color: #612783;
    text-align: center;
    width: 99.35vw;
    margin-left: -20px;
    margin-top: 80px;
    height: 512px;
  }
  .content2{
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    margin-left: -1px;

  
  }
  .h1roxo{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
    color: #EFEFEF;
    font-size: 46px;
    margin-top: 90px;
    text-align: left;
    margin-left: 25px;
    width: 650px;

  

  }
  .proxo{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 30px;
    color: #ffffff;
    width: 500px;
    text-align: left;
    margin-left: 27px;

  }
  
 
  .Btne2 {
    text-decoration: none;
    color: #612783;
    background-color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 10px;
    width: 515px;
    margin-top: 0px;
    padding: 16px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    margin-left: 27px;

  }
  
  .Btne1:focus {
    background-color:#eeeeee;
  }  
  .Btne2:hover{
    background-color:#eeeeee;
  }  
  #iemp2{
    float: left;
    margin-top: -1px;
    height: 514px;
  }
  .content3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    max-width: 1326px;
    text-align: right;
    margin-top: 100px;

  
  }
  .h13{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin-bottom: 40px;
    color: #161616;
    width: 805px;
    font-size: 50px;
    margin-top: 75px;
    text-align: left;
    margin-left: 18px;
  

  }
  .p3{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 40px;
    color: #909296;
    width: 526px;
    text-align: left;
    margin-left: 20px;

  }
  
 
  .Btne3 {
    text-decoration: none;
    color: #ffffff;
    background-color: #612783;
    padding: 1rem 2rem;
    border-radius: 10px;
    width: 605px;
    margin-top: 0px;
    padding: 16px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    margin-left: 22px;
  }
  
  .Btne3:focus {
    background-color:#481764;
  }  
  .Btne3:hover{
    background-color:#481764;
  }  
  #iemp3{
    height: 450px;
    margin-top: 10px;;
    margin-right: 75px;
  }

  .footer{
    background-color: black;
    width: 99.35vw;
    margin: auto;
    margin-top: 50px;
    margin-left: -20px;
  }
  .divFooter{
    display: grid;
    grid-template-columns: repeat(2, 58vw);
    //margin: 0 auto;
    max-width: 100vw;
  }
  .footerGrid{
    display: grid;
    grid-template-columns: repeat(2, 20vw);
    //margin: 0 auto;
    max-width: 40%;
  }
  #logof{
    height: 100px;
    margin-top: 20px;
    margin-left: 50px;
  }
  .btnf{
    float: left;
    margin-bottom: 10px;
    width: 260px;
  }
  
  .tfooter{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
    color: #f1f1f1;
    font-size: 21px;
    text-align: left;
    margin-top: 30px;
  }
  .pfooter{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    color: #c1c1c1;
    font-size: 14px;
    text-align: left;
  }
  #hr{
    width: 99.35vw;
    margin: auto;
    height: 1px;
    background-color: #616161;
    border: none;
    margin-top: 20px;
  }
  .footerGrid2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    max-width: 1326px;  
  }
  .footerGrid3{
    display: grid;
    grid-template-columns: repeat(2, 20vw);
    //margin: 0 auto;
    max-width: 40%;
  }

  .p2footer{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    color: #8d8d8d;
    font-size: 14px;
    text-align: left;
    margin-left: 148px;
    margin-top: 20px;
    line-height: 25px;

  }

}





@media (max-width:700px) {
  .footer{
    background-color: black;
    width: 100vw;
    margin: auto;
    margin-top: 50px;
    margin-left: -20px;
  }
  .footerGrid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;

  
  }
  #logof{
    height: 100px;
    margin-top: 20px;
 
  }
  .btnf{
    float: left;
    margin-bottom: 20px;
    width: 38%;
    margin-left: 8%;
  }
  
  .tfooter{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
    color: #f1f1f1;
    font-size: 17px;
    text-align: left;
    margin-top: 30px;
    margin-left: 30px;
  }
  .pfooter{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    color: #c1c1c1;
    font-size: 11px;
    text-align: left;
    margin-left: 30px;
  }
  #hr{
    width: 99.35vw;
    margin: auto;
    height: 1px;
    background-color: #616161;
    border: none;
    margin-top: 20px;
  }
  .footerGrid2{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;  
  }
  .footerGrid3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;  
  }

  .p2footer{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    color: #8d8d8d;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
    line-height: 25px;

  }

  
}