<div class="page">
<body>

  <div style="text-align: center;">
    <div class="content">
      <div>
        <h1 class="h1">O Banco online com a sua cara!</h1>
        <p class="p">Banco 100% Digital, sem taxas de transações utilizando as melhores tecnologias de segurança para sua conta e atendimento 24 horas em nossas plataformas digitais.</p>
        <a href="https://www.grbusiness.com.br/home" class="botao-face">
          <div class="Btne1">
            <p >Abra sua conta</p>
          </div>
        </a>
      </div>
      <div>
      <img  id="iemp1" src=".\..\assets\images\Sobre.png" >
      </div>
    </div>
  </div>
</body>
</div>
<footer>
  <div class="footer-content">
      <h3>Gr Business</h3>
      <p>Somos uma Empresa com mais de 3 anos de Experiência no Mercado Digital sendo especialistas em Marketing Digital, Otimização de Motores de Busca do Google, Design de Logotipos e Sites e Programação de Sites</p>
      <ul class="socials">
        <li><a href="https://api.whatsapp.com/send?phone=5511988129400"><img  class="ImagesF" src=".\..\assets\images\BtnWpp.png" ><i class="iMenu">Whatsapp</i></a></li>
        <li><a href="#"><img class="ImagesF" src=".\..\assets\images\BtnFace.png"><i class="iMenu">Facebook</i></a></li>
        <li><a href="#"><img class="ImagesF" src=".\..\assets\images\BtnInsta.png"><i class="iMenu">Instagram</i></a></li>
       <li><a href="mailto:contatogrbusiness@gmail.com"> <img class="ImagesF" src=".\..\assets\images\BtnEmail.png"><i class="iMenu">Email</i></a></li>
      </ul>
  </div>
  <div class="footer-bottom">
      <p>copyright &copy; <a href="#">Gr Business</a>  </p>
              <div class="footer-menu">
                <ul class="f-menu">
                  <li><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
                  <li><a [routerLink]="['/servicos']" routerLinkActive="active">Serviços</a></li>
                  <li><a [routerLink]="['/portfolio']" routerLinkActive="active">Portfólio</a></li>
                  <li><a [routerLink]="['/processo']" routerLinkActive="active">Processo</a></li>
                  <li><a [routerLink]="['/contato']" routerLinkActive="active">Contato</a></li>
                </ul>
              </div>
  </div>

</footer>