a{
  text-decoration: none;
}


@media (min-width:1366px) {
  .content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    max-width: 1326px;
    text-align: right;

  
  }
  .h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin-bottom: 40px;
    color: #161616;
    width: 655px;
    font-size: 50px;
    margin-top: 50px;
    text-align: left;
    margin-left: 18px;
  

  }
  .p{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 40px;
    color: #909296;
    width:600px;
    text-align: left;
    margin-left: 20px;

  }
  
 
  .Btne1 {
    text-decoration: none;
    color: #ffffff;
    background-color: #612783;
    padding: 1rem 2rem;
    border-radius: 10px;
    width: 609px;
    margin-top: 0px;
    padding: 16px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    margin-left: 22px;
  }
  
  .Btne1:focus {
    background-color:#481764;
  }  
  .Btne1:hover{
    background-color:#481764;
  }  
  #iemp1{
    height: 450px;
    margin-top: 10px;;
    margin-right: 25px;
  }



  .footer{
    background-color: black;
    width: 99.35vw;
    width: 100%;
    margin: 0;
    margin-top: 50px;
    margin-left: -20px;
  }
  .footerGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    max-width: 1326px;


  }
  #logof{
    height: 100px;
    margin-top: 20px;
    margin-left: 50px;
  }
  .btnf{
    float: left;
    margin-bottom: 10px;
    width: 260px;
  }

  .tfooter{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
    color: #f1f1f1;
    font-size: 21px;
    text-align: left;
    margin-top: 30px;
  }
  .pfooter{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    color: #c1c1c1;
    font-size: 14px;
    text-align: left;
  }
  #hr{
    width: 99.35vw;
    margin: auto;
    height: 1px;
    background-color: #616161;
    border: none;
    margin-top: 20px;
  }
  .footerGrid2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    max-width: 1326px;


  }

  .p2footer{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    color: #8d8d8d;
    font-size: 14px;
    text-align: left;
    margin-left: 148px;
    margin-top: 20px;
    line-height: 25px;

  }

}





@media (max-width:700px) {
.footer-menu ul{
display: flex;
margin-top: 10px;
}
.footer-menu{
  font-size: 14px;
  display: -webkit-inline-box;
  float: none;
  }

.footer-bottom{
  background: #013912;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
  height: 30px;
  float: initial;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    float: inherit;
  }

  .botao-wpp {
    text-decoration: none;
    color: #eee;
    display: inline-block;
    background-color: #25d366;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 5px;
    width: 100px;
    margin-top: 20px;
    padding: 1px;
    text-align: center;
   margin-bottom: 10px;
  }
  .ContWpp{
    align-content: center;
    justify-content: end;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60px;
    justify-items: center;
    margin-left: 18px;
  
  }
  
}