<div class="page">
<body>
  <div style="text-align: center;">
    <div class="content">
      <div>
        <h1 class="h1"> Conheça o Pix! Realize pagamentos imediatos e sem taxas na Be9 </h1>
        <p class="p">O Pix é um novo sistema de pagamentos e transferências instantâneas totalmente gratuito disponível todos os dias.</p>
        <a href="https://www.grbusiness.com.br/home" class="botao-face">
          <div class="Btnp1">
            <p  >Cadastrar chave Pix</p>
          </div>
        </a>
      </div>
      <div>
      <img  id="ipix1" src=".\..\assets\images\Pix1.png" >
      </div>
    </div>
  </div>
  <div style="text-align: center;">
    <div class="boxpix">
      <h2 class="h2">Como Funciona o Pix?</h2>
      <p class="p2pix">O Pix funciona como uma ferramenta criada para facilitar as transferências e pagamentos no seu banco digital.</p>
      <br>
      <p class="p2pix">Você pode cadastrar sua chave na Be9. <br>As Chaves Pix estão disponíveis nos seguintes formatos: número de telefone, CPF ou CNPJ, e-mail ou chave aleatória Be9.</p>
      <br>
      <p class="p2pix">Com as Chaves Pix não será mais necessário passar os números da sua conta bancária, você poderá compartilhar sua Chave Pix cadastrada para realização de pagamentos e transferências.</p>
      <a href="https://www.grbusiness.com.br/home" class="botao-face">
        <br>
        <div class="Btnp2">
          <p  >Cadastrar chave Pix</p>
        </div>
      </a>
    </div>
  </div>
  <div id="rroxo"></div>
      <div>
        <img  id="ipix2" src=".\..\assets\images\Pix2.png" >
        </div>
      <div class="content2">
      <div class="alignc2">
        <h2 class="h2pix">Como cadastrar a chave Pix na Be9?</h2>
        <div>
          <div class="content3">
          <img  class="ipix3" src=".\..\assets\images\Btn1.png" >
          <h3 class="h3">Acesso</h3>
          </div>
        </div>
          <p class="p3pix">Crie ou acesse sua conta gratuita na Be9 e selecione a opção Pix.</p>
        <div>
          <div class="content3">
          <img  class="ipix3" src=".\..\assets\images\Btn2.png" >
          <h3 class="h3">Cadastro</h3>
          </div>
          <p class="p3pix">Entre em "Cadastrar Chave" e selecione a chave, entre celular, CPF ou CNPJ, e-mail ou chave aleatória.</p>
        </div>
        <div>
          <div class="content3">
          <img  class="ipix3" src=".\..\assets\images\Btn3.png" >
          <h3 class="h3">Confirmação</h3>
          </div>
          <p class="p3pix">Confirme sua seleção e pronto!<br>Você já pode usa-la em pagamentos  e transferências na Be9.</p>
        </div>
        <a href="https://www.grbusiness.com.br/home" class="botao-face">
          <div class="Btnp3">
            <p >Cadastrar chave Pix</p>
          </div>
        </a>
        
      </div>
      
      
    </div>
</body>
</div>       
  
<footer class="footer">
  <div style="text-align: center;">
    <div class="footerGrid">
      <div>
        <img  id="logof" src=".\..\assets\images\logof.png" >
      </div>
      <div>
        <p class="tfooter">Baixe o nosso App</p>
        <img  class="btnf" src=".\..\assets\images\gplay.svg" >
        <img  class="btnf" src=".\..\assets\images\astore.svg" >
      </div>
      <div>
        <p class="tfooter">Atendimento</p>
        <p class="pfooter">Central de Relacionamento<br>0800 275 6398</p>
        <p class="pfooter">SAC<br>0800 722 6398 </p>
        <p class="pfooter">Ouvidoria<br>0800 688 6398</p>
        <p class="pfooter">contatobe9@be9.com</p>
      </div>
      <div>
        <p class="tfooter">Informações</p>
        <a [routerLink]="['/politica']" routerLinkActive="active"><p class="pfooter">Política de Privacidade</p></a>
        <a [routerLink]="['/termosWeb']" routerLinkActive="active"><p class="pfooter">Termos de Uso Web</p></a>
        <a [routerLink]="['/termosApp']" routerLinkActive="active"><p class="pfooter">Termos de Uso Mobile</p></a>

      </div>
      </div>
      <hr id="hr">
      <div class="footerGrid2">
        <div>
          <p class="p2footer">Be9 Bank © 2022<br>Avenida das Nações Unidas, 12399 cj 96A <br>Brooklin Novo - SÃO PAULO - SP - Brasil<br>04578-000</p>
        </div>
      </div>
  </div>
</footer>