<div class="page">
<body>
  <div style="text-align: center;">
    <div class="content">
      <div>
        <h1 class="h1"> Conheça o Pix! Realize pagamentos imediatos e sem taxas na Be9 </h1>
        <p class="p">O Pix é um novo sistema de pagamentos e transferências instantâneas totalmente gratuito disponível todos os dias.</p>
        <a href="https://www.grbusiness.com.br/home" class="botao-face">
          <div class="Btnp1">
            <p  >Cadastrar chave Pix</p>
          </div>
        </a>
      </div>
      <div>
      <img  id="ipix1" src=".\..\assets\images\Pix1.png" >
      </div>
    </div>
  </div>
  <div style="text-align: center;">
    <div class="boxpix">
      <h2 class="h2">Como Funciona o Pix?</h2>
      <p class="p2pix">O Pix funciona como uma ferramenta criada para facilitar as transferências e pagamentos no seu banco digital.</p>
      <br>
      <p class="p2pix">Você pode cadastrar sua chave na Be9. <br>As Chaves Pix estão disponíveis nos seguintes formatos: número de telefone, CPF ou CNPJ, e-mail ou chave aleatória Be9.</p>
      <br>
      <p class="p2pix">Com as Chaves Pix não será mais necessário passar os números da sua conta bancária, você poderá compartilhar sua Chave Pix cadastrada para realização de pagamentos e transferências.</p>
      <a href="https://www.grbusiness.com.br/home" class="botao-face">
        <br>
        <div class="Btnp2">
          <p  >Cadastrar chave Pix</p>
        </div>
      </a>
    </div>
  </div>
  <div id="rroxo"></div>
</body>
</div>       
<footer> 
  <div class="footer-content">
      <h3>Gr Business</h3>
      <p>Somos uma Empresa com mais de 3 anos de Experiência no Mercado Digital sendo especialistas em Marketing Digital, Otimização de Motores de Busca do Google, Design de Logotipos e Sites e Programação de Sites</p>
      <ul class="socials">
        <li><a href="https://api.whatsapp.com/send?phone=5511988129400"><img  class="ImagesF" src=".\..\assets\images\BtnWpp.png" ><i class="iMenu">Whatsapp</i></a></li>
        <li><a href="#"><img class="ImagesF" src=".\..\assets\images\BtnFace.png"><i class="iMenu">Facebook</i></a></li>
        <li><a href="#"><img class="ImagesF" src=".\..\assets\images\BtnInsta.png"><i class="iMenu">Instagram</i></a></li>
       <li><a href="mailto:contatogrbusiness@gmail.com"> <img class="ImagesF" src=".\..\assets\images\BtnEmail.png"><i class="iMenu">Email</i></a></li>
      </ul>
  </div>
  <div class="footer-bottom">
      <p>copyright &copy; <a href="#">Gr Business</a>  </p>
              <div class="footer-menu">
                <ul class="f-menu">
                  <li><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
                  <li><a [routerLink]="['/servicos']" routerLinkActive="active">Serviços</a></li>
                  <li><a [routerLink]="['/portfolio']" routerLinkActive="active">Portfólio</a></li>
                  <li><a [routerLink]="['/processo']" routerLinkActive="active">Processo</a></li>
                  <li><a [routerLink]="['/contato']" routerLinkActive="active">Contato</a></li>
                </ul>
              </div>
  </div>

</footer>