@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');



@media (max-width:800px) {
  
  

 
}
@media (min-width:800px) {

  .content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    margin-bottom: 50px;
    grid-gap: 50px;
    max-width: 1366px;

  
  }
  .h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin-bottom: 40px;
    color: #161616;
    width: 920px;
    font-size: 60px;
    margin-top: 50px;
    text-align: left;

  }
  .p{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 40px;
    color: #909296;
    width: 638px;
    text-align: left;

  }

  
 
  .Btnp1 {
    text-decoration: none;
    color: #ffffff;
    background-color: #612783;
    padding: 1rem 2rem;
    border-radius: 10px;
    width: 745px;
    margin-top: 0px;
    padding: 15px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
  }
  
  .Btnp1:focus {
    background-color: darken(#612783, 15%);
  }  
  #ipix1{
    height: 85%;
  }
footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #008437;
  height: auto;
  width: 99.35vw;
  position: inherit;
  margin-top: 100px;
  padding-top: 40px;
  color: #fff;
  margin-left: -20px;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 15px;
  line-height: 28px;
  font-size: 14px;
  color: #ffffff;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  padding: 5px;
  display: block;
  color: white;

}
.socials a i{
  font-size: 14px;
  display: block;
  text-align: center;
  margin-left:-2px;


  transition: color .4s ease;

}
.socials a:hover i{
  color: rgb(233, 195, 6);
}

.footer-bottom{
  background: #013912;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}
.footer-bottom p{
float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a{
color:rgb(233, 195, 6);
font-size: 16px;
text-decoration: none;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
.footer-menu{
float: right;

}
.footer-menu ul{
display: flex;
}
.footer-menu ul li{
padding-right: 15px;
display: block;
}
.footer-menu ul li a{
color: #cfd2d6;
text-decoration: none;
}
.footer-menu ul li a:hover{
color: rgb(233, 195, 6);
}

}
@media (max-width:700px) {
.footer-menu ul{
display: flex;
margin-top: 10px;
}
.footer-menu{
  font-size: 14px;
  display: -webkit-inline-box;
  float: none;
  }

.footer-bottom{
  background: #013912;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
  height: 30px;
  float: initial;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    float: inherit;
  }





}

