<div class="page">
<body>

  <div id="ContatoDiv">
    <h2 id="Contato">ENTRE EM CONTATO CONOSCO</h2>
    <img mat-card-image src=".\..\assets\images\SobreNos.png" id="imagemSobre">

    <div class="botoesCartao">
      <a href="https://api.whatsapp.com/send?phone=5511988129400" class="botao-wpp" >
        <div class="ContWpp">
            <!-- ícone -->
                <img  class="ImagesF" src=".\..\assets\images\BtnWpp.png">
                 <i class="BtnWpp" id="Wpp">Whatsapp</i>
        </div>
    </a>
    <a class="botao-face">
      <div class="ContFace">
          <!-- ícone -->
              <img  class="ImagesF" src=".\..\assets\images\BtnFace.png" >
               <i class="BtnWpp" id="Face">Facebook</i>
      </div>
  </a>
  <a href="mailto:contatogrbusiness@gmail.com" class="botao-email">
      <div class="ContEmail">
          <!-- ícone -->
              <img  class="ImagesF" src=".\..\assets\images\BtnEmail.png" >
               <i class="BtnWpp" id="Email">Email</i>
      </div>
  </a>
    </div>
  </div>
  <div class="Back">
    <br><br>
    <h2 id="Atendimento">ATENDIMENTO AO CLIENTE</h2>
    <div class="content"> 
      <div>
        <h3 class="h2Hora">HORÁRIO</h3>
        <p class="pHora">Segunda a Sexta </p>
        <p class="pHora">Das 7:30 h às 17:30 h</p>
      </div>
      <div>
        <h3 class="h2Hora">CONTATO</h3>
        <p class="pHora">(11) 98812-9400</p>
        <p class="pHora">contatogrbusiness@gmail.com</p>
      </div>
      <br><br><br><br>
    </div>

  </div>  
</body>
</div>
<footer>
  <div class="footer-content">
      <h3>Gr Business</h3>
      <p>Somos uma Empresa com mais de 3 anos de Experiência no Mercado Digital sendo especialistas em Marketing Digital, Otimização de Motores de Busca do Google, Design de Logotipos e Sites e Programação de Sites</p>
      <ul class="socials">
        <li><a href="https://api.whatsapp.com/send?phone=5511988129400"><img  class="ImagesF" src=".\..\assets\images\BtnWpp.png" ><i class="iMenu">Whatsapp</i></a></li>
        <li><a href="#"><img class="ImagesF" src=".\..\assets\images\BtnFace.png"><i class="iMenu">Facebook</i></a></li>
        <li><a href="#"><img class="ImagesF" src=".\..\assets\images\BtnInsta.png"><i class="iMenu">Instagram</i></a></li>
       <li><a href="mailto:contatogrbusiness@gmail.com"> <img class="ImagesF" src=".\..\assets\images\BtnEmail.png"><i class="iMenu">Email</i></a></li>
      </ul>
  </div>
  <div class="footer-bottom">
      <p>copyright &copy; <a href="#">Gr Business</a>  </p>
              <div class="footer-menu">
                <ul class="f-menu">
                  <li><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
                  <li><a [routerLink]="['/servicos']" routerLinkActive="active">Serviços</a></li>
                  <li><a [routerLink]="['/portfolio']" routerLinkActive="active">Portfólio</a></li>
                  <li><a [routerLink]="['/processo']" routerLinkActive="active">Processo</a></li>
                  <li><a [routerLink]="['/contato']" routerLinkActive="active">Contato</a></li>
                </ul>
              </div>
  </div>

</footer>