<div class="page">
  <body>
    <div style="text-align: center;">
      <div class="content">
        <div>
          <h1 class="h1">Be9 seu banco online</h1>
          <p class="p">Possua sua conta digital 100% gratuita com as menores taxas e sem burocracia.</p>
          <a href="https://www.grbusiness.com.br/home" class="botao-face">
            <div class="Btne1">
              <p  >Abra sua conta</p>
            </div>
          </a>
        </div>
        <div>
        <img  id="ihome1" src=".\..\assets\images\Home1.png" >
        </div>
      </div>
    </div>
    <div class="master">
      <h1 class="h1roxo">A melhor experiência de um Banco Digital.</h1>
      <div class="content2">
        <div class="box">
          <img  class="ihome2" src=".\..\assets\images\Ipix.png" >
          <p class="proxo">Banco sem taxas nas Transações de Pix e Transferência Bancária</p>
        </div>
        <div class="box">
          <img  class="ihome2" src=".\..\assets\images\Imobile.png" >
          <p class="proxo">Banco 100% Digital com zero burocracia</p>
        </div>
        <div class="box">
          <img  class="ihome2" src=".\..\assets\images\Icashback.png" >
          <p class="proxo">Garanta Cashback usando seu cartão de crédito</p>
        </div>
        <div class="box">
          <img  class="ihome2" src=".\..\assets\images\Iseguro.png" >
          <p class="proxo">Seu dinheiro protegido com garantia FGC</p>
        </div>
        <div class="box">
          <img  class="ihome2" src=".\..\assets\images\Iemp.png" >
          <p class="proxo">Adquira Empréstimo pessoal a qualquer hora</p>
        </div>
        <div class="box">
          <img  class="ihome2" src=".\..\assets\images\i24.png" >
          <p class="proxo">Funcionamento 24 horas para todas as operações</p>
        </div>
      </div>
      <a href="https://www.grbusiness.com.br/home" class="botao-face">
        <div class="Btne2">
          <p  >Abra sua conta</p>
        </div>
      </a>
    </div>
    <div style="text-align: center;">
      <div class="content3">
        <div>
        <img  id="ihome2" src=".\..\assets\images\Home2.png" >
        </div>
        <div style="text-align: right;">
          <div >
            <h1 class="h1home2"> Obtenha seu Cartão Be9 totalmente gratuito.</h1>
            <p class="phome2">Tenha praticidade com a Be9, utilize seu cartão físico e digital para realizar o pagamento de suas compras.</p>
            <a href="https://www.grbusiness.com.br/home" class="botao-face">
              <div class="Btne3">
                <p  >Abra sua conta</p>
              </div>
            
            </a>
          </div>
        </div>
      </div>
    </div>
   
  </body>
  </div>
  <footer>
    <div class="footer-content">
        <h3>Gr Business</h3>
        <p>Somos uma Empresa com mais de 3 anos de Experiência no Mercado Digital sendo especialistas em Marketing Digital, Otimização de Motores de Busca do Google, Design de Logotipos e Sites e Programação de Sites</p>
        <ul class="socials">
          <li><a href="https://api.whatsapp.com/send?phone=5511988129400"><img  class="ImagesF" src=".\..\assets\images\BtnWpp.png" ><i class="iMenu">Whatsapp</i></a></li>
          <li><a href="#"><img class="ImagesF" src=".\..\assets\images\BtnFace.png"><i class="iMenu">Facebook</i></a></li>
          <li><a href="#"><img class="ImagesF" src=".\..\assets\images\BtnInsta.png"><i class="iMenu">Instagram</i></a></li>
         <li><a href="mailto:contatogrbusiness@gmail.com"> <img class="ImagesF" src=".\..\assets\images\BtnEmail.png"><i class="iMenu">Email</i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy; <a href="#">Gr Business</a>  </p>
                <div class="footer-menu">
                  <ul class="f-menu">
                    <li><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
                    <li><a [routerLink]="['/servicos']" routerLinkActive="active">Serviços</a></li>
                    <li><a [routerLink]="['/portfolio']" routerLinkActive="active">Portfólio</a></li>
                    <li><a [routerLink]="['/processo']" routerLinkActive="active">Processo</a></li>
                    <li><a [routerLink]="['/contato']" routerLinkActive="active">Contato</a></li>
                  </ul>
                </div>
    </div>
  
  </footer>