  <header class="header">
    <!-- Logo -->
    <div id="logo">
    <span ><a href=""><img src=".\..\assets\images\logoBe9.svg" alt="" srcset="" /></a></span>
    </div>

    <!-- Hamburger icon -->
    <input class="side-menu" type="checkbox" id="side-menu" unchecked/>
    <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>

    <!-- Menu -->
    <nav class="nav">
      <button mat-icon-button [matMenuTriggerFor]="menu1" aria-label="Para Você" class="botaoPrincipal">
        <span class="spanPrinc">Para Você</span>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #menu1="matMenu">
        <a onclick="refreshCSS()" [routerLink]="['/home']" routerLinkActive="active">
          <button mat-menu-item>
            <mat-icon>home</mat-icon>
            <span>Início</span>
          </button>
        </a>
        <a onclick="refreshCSS()" [routerLink]="['/pix']" routerLinkActive="active">
          <button mat-menu-item>
            <mat-icon>attach_money</mat-icon>
            <span>Pix</span>
          </button>
        </a>
        <a onclick="refreshCSS()" [routerLink]="['/cartao']" routerLinkActive="active">
          <button mat-menu-item>
            <mat-icon>credit_card</mat-icon>
            <span>Cartão</span>
          </button>
        </a>
        <a onclick="refreshCSS()" [routerLink]="['/emprestimo']" routerLinkActive="active">
          <button mat-menu-item>
            <mat-icon>card_travel</mat-icon>
            <span>Empréstimo</span>
          </button>
        </a>
        <a onclick="refreshCSS()" [routerLink]="['/servicos']" routerLinkActive="active">
          <button mat-menu-item>
            <mat-icon>shopping_cart</mat-icon>
            <span>Serviços</span>
          </button>
        </a>
      </mat-menu>
      <a onclick="refreshCSS()" [routerLink]="['/empresa']" routerLinkActive="active">
        <button mat-icon-button aria-label="Para Sua Empresa" class="botaoPrincipal">
          <span class="spanPrinc">Para Sua Empresa</span>
        </button>
      </a>

      <a onclick="refreshCSS()" [routerLink]="['/sobre']" routerLinkActive="active">
        <button mat-icon-button aria-label="Sobre a Be9" class="botaoPrincipal">
          <span class="spanPrinc">Sobre a Be9</span>
        </button>
      </a>

      <a onclick="refreshCSS()" [routerLink]="['/ajuda']" routerLinkActive="active">
        <button mat-icon-button aria-label="Ajuda" class="botaoPrincipal">
          <span class="spanPrinc">Ajuda</span>
        </button>
      </a>
      
      <button class="menuAbra">
        <span>Abra sua conta</span>
      </button>



        <!-- <ul class="menu">

            <li> <a onclick="refreshCSS()" [routerLink]="['/home']" routerLinkActive="active" mat-icon-button class="menu-item">
              <mat-icon [inline]="true">home</mat-icon>
              <span class="Span">Home</span>
            </a></li>
            <li> <a onclick="refreshCSS()" [routerLink]="['/servicos']" routerLinkActive="active" mat-icon-button class="menu-item">
              <mat-icon [inline]="true">assessment</mat-icon>
              <span  class="Span">Serviços</span>
            </a></li>
            <li> <a onclick="refreshCSS()" [routerLink]="['/portfolio']" routerLinkActive="active" mat-icon-button class="menu-item">
              <mat-icon [inline]="true">assignment</mat-icon>
              <span  class="Span">Portfólio</span>
            </a></li>
            <li>  <a onclick="refreshCSS()" [routerLink]="['/processo']" routerLinkActive="active" mat-icon-button class="menu-item">
              <mat-icon [inline]="true">computer</mat-icon>
              <span  class="Span">Processo</span>
            </a></li>
            <li> <a  onclick="refreshCSS()" [routerLink]="['/contato']" routerLinkActive="active" mat-icon-button class="menu-item">
              <mat-icon [inline]="true">contact_mail</mat-icon>
              <span  class="Span">Contato</span>
            </a></li>
        </ul> -->
    </nav>
</header>
<script>
        refreshCSS = () => {
          document.getElementById("side-menu").checked = false;
                }
            
</script>
<div class="main-content">
  <router-outlet></router-outlet>
</div>


