.spacer:not(.rodape) {
  flex: 1 1 auto;
}
span.spacer:not(.rodape) {
  padding-left: 20px;
  font-size: 27px;
}
#logo {
  img {
    height: 51px;
  }
}
.main-content:not(.rodape){
  box-sizing: border-box;
  height: calc(100vh - 64px);
  margin: 0px 0px;
  position: relative;
  padding: 84px 20px 0px 20px;
}

.spanPrinc{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color:#8517FA;
}




 
.content123{
  display: inline-grid;
}
#logo{
  height: 49px;
  padding: 17px;
  justify-items: start;
}

 

@media print {
  .mat-toolbar {
    display: none;
  }
}

::ng-deep {
  .mat-toolbar {
    border-bottom: 5px solid #8517FA;
  }
  @media (prefers-color-scheme: dark) {
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #c9c9c9;
  }
}



/* Logo */




.menu a:hover{
  color: #5b5b5b;
}

.nav2{
  max-height: 0;
  transition: max-height .5s ease-out;
  text-decoration: none;
}

/* Menu Icon */

.hamb{
  cursor: pointer;
  float: right;
  padding: 40px 20px;
  margin-top: -86px;
}


.hamb-line {
  background:  #7729c9;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
  
}

.hamb-line::before,
.hamb-line::after{
  background: #7729c9;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.hamb-line::before{
  top: 5px;
}

.hamb-line::after{
  top: -5px;
}


.side-menu {
  display: none;
}

/* Toggle menu icon */

.side-menu:checked ~ .nav2{
  max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top:0;

}

.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top:0;
}

ul{
  list-style: none;
}

@media (min-width: 800px) {
  .nav2{
    display: none;
  }
  .nav{
      max-height: none;
      top: 0;
      position: relative;
      float: right;
      width: fit-content;
      background-color: transparent;
      color:  #8517FA;
      margin-top: -89px;
      text-decoration: none;
      
  }

  a{
    text-decoration: none;
  }
  .menu li{
      float: left;
  }

  .menu a:hover{
      color: #5b5b5b;
  }
  
  .hamb{
      display: none;
 
    }
    .Span{
      font-size: 15px;
      margin-top: 5px;
      font-weight: 700;
      margin-bottom: -9px;
  }
    .mat-icon.mat-icon-inline {
    font-size: 35px;
    margin-top: 4px;
    }
    .header{
      background-color: #fff;
      box-shadow: 1px 1px 5px 0px var(--grey);
      border-bottom: 2px solid #f4f4f4;
      position: sticky;
      top: 0;
      width: 100%;
      height: 82px;
      z-index: 1;
    }
    .menu-item {
      line-height: normal;
      text-align: center;
      width: auto;
      border-radius: 0;
      height: inherit;
      margin-bottom: -20px;
      
  
      span {
        display: block;
        font-family: "Montserrat", sans-serif;
      }
      &.active,
      &:hover {
        background-color: rgb(12, 187, 70);
        color: #ffffff;
      }
    }
    .menu a{
      display: block;
      padding: 20px 25px 20px 25px;
      margin-top: -8px;
    
    }

    .botaoPrincipal{
      line-height: normal;
      text-align: center;
      width: auto;
      border-radius: 0;
      height: inherit;
      margin-bottom: -20px;
      display: inline;
      padding: 20px 25px 20px 25px;
      margin-top: 16px;
    }

    .menuAbra{
      padding: 10px 30px;
      background-color:#fff;
      border-radius: 7px;
      //color: #3c007b;
      color: #3f037c;
      margin-left: 20px;
      margin-right: 30px;
      border-color: #2b005853;
    }
    .menuAbra span{
      font-weight: 600;
      font-family: "Montserrat", sans-serif;
    }
   
}

@media (max-width: 799px) {
  .header{
    background-color: #fff;
    box-shadow: 1px 1px 5px 0px var(--grey);
    border-bottom: 1px solid #721cce47;
    position: fixed;
    top: 0;
    width: 100%;
    height: 82px;
    z-index: 1;
  }
  .nav{
    display: none;
  }
  .nav2{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #fff;
    overflow: hidden;
    margin-top: -5px; 
  }
  .matCard{
    display: flex;
    flex-direction: column;
    padding: 30px 9px;
  }
  mat-card :not(.matCard){
    padding: 14px 0px;
    border-radius: 2px;
  }
  .botaoMenuMobile{
    text-align: center;
    color: #770fdf;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
  }
  .mat-icon.mat-icon-inline {
    font-size: 34px;
  }
  .menu-item {
    line-height: normal;
    width: auto;
    border-radius: 0;
    height: inherit;
    color: rgb(12, 187, 70);

    &.active,
    &:hover {
      background-color: #8517fa5a;
      color: #ffffff;
    }
  }
  .menu a{
    display: block;
    padding: 20px 25px 20px 25px;
    margin-top: -8px;
    text-align: inherit;
  
  }
  .Span{
    font-size: 22px;
    margin-top: 5px;
    font-weight: 700;
    margin-bottom: -9px;
    margin-left: 5px;
}

}





