<div class="page">
  <body>
  
    <div style="text-align: center;">
      <div class="content">
        <div>
          <h1 class="h1">Cartão Black Be9.<br>Experimente um novo futuro sem anuidade</h1>
          <p class="p">Aproveite as exclusividades e benefícios em qualquer lugar do brasil, totalmente gratuito.</p>
          <a href="https://www.grbusiness.com.br/home" class="botao-face">
            <div class="Btnc1">
              <p  >Abra sua conta</p>
            </div>
          </a>
        </div>
        <div>
        <img  id="ic1" src=".\..\assets\images\Cartao.png" >
        </div>
      </div>
    </div>
    <div>
      <img  id="inove" src=".\..\assets\images\Cartao1.png" >
      </div>
    <div class="master">
      <div class="content2">  
        <div>  
          <img  id="ic2" src=".\..\assets\images\Cartao2.png" >
        </div>   
        <div>
          <h1 class="h1roxo">Mais vantagens no seu Cartão Be9.</h1>
          <p class="proxo">Ganhe cashback realizando compras no cartão de crédito e receba inúmeras vantagens.</p>
          <a href="https://www.grbusiness.com.br/home" class="botao-face">
            <div class="Btnc2">
              <p  >Abra sua conta</p>
            </div>
            </a>
        </div>
      </div>
     
    </div>
    <div style="text-align: center;">
      <div class="content3">
        <div>
          <h1 class="h13">Pague suas contas pelo nosso aplicativo.</h1>
          <p class="p3">Faça compras  e pagamentos online com  seu cartão digital Be9, seu cartão virtual possui o mesmo limite que o físico.</p>
          <a href="https://www.grbusiness.com.br/home" class="botao-face">
            <div class="Btnc3">
              <p>Abra sua conta</p>
            </div>
          </a>
        </div>
        <div>
        <img  id="ic3" src=".\..\assets\images\Cartao3.png" >
        </div>
      </div>
    </div>
  </body>
  </div>
  
  <footer class="footer">
    <div style="text-align: center;">
      <div class="divFooter">
        <div class="footerGrid">
          <div>
            <img  id="logof" src=".\..\assets\images\logof.png" >
          </div>
          <div>
            <p class="tfooter">Baixe o nosso App</p>
            <img  class="btnf" src=".\..\assets\images\gplay.svg" >
            <img  class="btnf" src=".\..\assets\images\astore.svg" >
          </div>
        </div>
        <div class="footerGrid3">
          <div>
            <p class="tfooter">Atendimento</p>
            <p class="pfooter">Central de Relacionamento<br>0800 275 6398</p>
            <p class="pfooter">SAC<br>0800 722 6398 </p>
            <p class="pfooter">Ouvidoria<br>0800 688 6398</p>
            <p class="pfooter">contatobe9@be9.com</p>
          </div>
          <div>
            <p class="tfooter">Informações</p>
            <a [routerLink]="['/politica']" routerLinkActive="active"><p class="pfooter">Política de Privacidade</p></a>
            <a [routerLink]="['/termosWeb']" routerLinkActive="active"><p class="pfooter">Termos de Uso Web</p></a>
            <a [routerLink]="['/termosApp']" routerLinkActive="active"><p class="pfooter">Termos de Uso Mobile</p></a>
          </div>
        </div>
      </div>

      
        <hr id="hr">
        <div class="footerGrid2">
          <div>
            <p class="p2footer">Be9 Bank © 2022<br>Avenida das Nações Unidas, 12399 cj 96A <br>Brooklin Novo - SÃO PAULO - SP - Brasil<br>04578-000</p>
          </div>
        </div>
    </div>
  </footer>